!bin
*.private
.sass-cache
Code/**/*.backup
Code/Backups/
Code/Cache/
Code/CachedData/
Code/CachedExtensions/
Code/CachedExtensionVSIXs/
Code/Code Cache/
Code/Cookies
Code/Cookies-journal
Code/Crashpad/settings.dat
Code/CrashpadMetrics*
Code/GPUCache/
Code/Local Storage/
Code/Session Storage/
Code/TransportSecurity
Code/blob_storage/
Code/logs/
aliases.financeit
bin/erlang-history/
config/hub
config/nvim/plugged
vim/bundle/
zshrc.financeit
