!bin
*.private
.sass-cache
Code/**/*.backup
Code/Backups/
Code/Cache/
Code/CachedData/
Code/CachedExtensions/
Code/CachedExtensionVSIXs/
Code/Code Cache/
Code/Cookies
Code/Cookies-journal
Code/Crashpad/settings.dat
Code/CrashpadMetrics*
Code/GPUCache/
Code/Local Storage/
Code/Session Storage/
Code/TransportSecurity
Code/blob_storage/
Code/logs/
aliases.financeit
bin/erlang-history/
config/hub
config/nvim/plugged
vim/bundle/
zshrc.financeit
vscode/extensions/
Code/User/workspaceStorage/
Code/User/sync/globalState/
Code/CachedConfigurations/
Code/User/sync/
Code/storage.json
Code/rapid_render.json
Code/code.lock
Code/databases/
Code/User/globalStorage/
Code/Service Worker/
Code/QuotaManager*
Code/Preferences
Code/Network Persistent State
Code/Crashpad/
# temporary VS Code files?
Code/.com.microsoft.VSCode.*
config/zed/.tmp*
config/zed/**/*.mdb
